.form-control {
    /*max-width: 20em;*/
}

.rmvBtn {
    background-color: red;
    margin-bottom: 2em;


}
.title {
    font-family: Phosphate;
}
.movieClass {
    font-family: AppleGothic;

}
.loader {
    /*display: none;*/
}