body {
    background-image: url("https://media.giphy.com/media/Vw3k4Vro0Q5KE/giphy.gif");
    background-size: cover;

}

html, body{

    height: 100%;
    width: 100%;
}
.navbar {
    color: white;
    /*max-height: ;*/
    background-image: url("../images/2001 img.jpg");
    background-size: 70em;
    background-position-x: 70px;
}

button {
    border-radius: 3px;
}
.form-control {
    /*max-width: 20em;*/
}
.mainContainer{
    background-color: whitesmoke;
    width: 55%;
    min-height: 95%;
    border: 2px solid darkgray;
    border-radius: 5px;
}
.rmvBtn {
    background-color: #A61D0E;
    margin-top: 1em;
    margin-bottom: .5em;
    overflow: hidden;
}
.rmvBtn:hover{
    color: whitesmoke;
}

.title {

    font-size: 1.7rem;
    font-family: 'Bangers', cursive;
    color: white;
}
.movieClass {

    font-family: 'Bangers';
    text-align: center;
    min-width: 10em;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 3px;

}

 #update{
     color: antiquewhite;
 }
.loader {
    /*display: none;*/
}