html, body{
    height: 100%;
    width: 100%;
}

button {
    border-radius: 3px;
}
.form-control {
    /*max-width: 20em;*/
}
.mainContainer{
    background-color: whitesmoke;
    width: 55%;
    min-height: 95%;
    border: 2px solid darkgray;
    border-radius: 5px;
}
.rmvBtn {
    background-color: #A61D0E;
    margin-top: 1em;
    margin-bottom: .5em;
    overflow: hidden;
}
.rmvBtn:hover{
    color: whitesmoke;
}
.title {
    font-family: Phosphate;
}
.movieClass {
    font-family: AppleGothic;
    text-align: center;
    width: 10em;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 3px;

}
.loader {
    /*display: none;*/
}